<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>首页</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="../../../css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="../../../js/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="../../../js/bootstrap.min.js"></script>
</head>

<body>
<div style="padding:0px; margin:0px;">
    <ul class="breadcrumb" style="  margin:0px; " >
        <li><a href="#">商品管理</a></li>
        <li>查询商品</li>
    </ul>
</div>
<form class="form-inline">
    <div class="row alert alert-info"  style="margin:0px; padding:3px;" >

        <a  class="btn btn-success"  href="/product/add?cid=${cid}">添加商品</a>
        <a class="btn btn-warning" href="/category/list">返回上一级</a>
    </div>
    <div class="row" style="padding:15px; padding-top:0px; ">
        <table class="table  table-condensed table-striped">
            <tr>
                <th>编号</th>
                <th>商品</th>
                <th>单价</th>
                <th>剩余数量</th>
                <th>logo</th>
                <th>热卖</th>
                <th>类别</th>
                <th>操作</th>
            </tr>
            <!-- 在这里用freeMarker的list包裹起来，会自动增加新行 -->
            <#list retList as bean>
            <tr>
                <td>${(bean.id)!}</td>
                <td>${(bean.product)!}</td>
                <td>${(bean.price)!}元</td>
                <td>${(bean.num)!}个</td>
                <td>
                    <a href="${(bean.logo)!}" target="_blank">${(bean.logo)!}</a>
                </td>
                <td>
                    <#if bean.hot == 1>热卖</#if>
                    <#if bean.hot == 0>非热卖</#if>
                </td>
                <td>${(bean.category)!}</td>
                <th>
                    <a href="/product/add?id=${bean.id}&cid=${bean.cid}">修改</a>
                    <a href="/product/del?id=${bean.id}&cid=${bean.cid}">删除</a>
                </th>
            </tr>
        </tr>
        </#list>
        </table>
    </div>
</form>
</body>
</html>
